protobuf==4.25.3
speechrecognition
pygame
bardapi
pyperclip
pyautogui
selenium
openai
languagemodels
opencv-python-headless
pyaudio
pandas
matplotlib
cvzone
pyserial
numpy
mediapipe
googletrans==4.0.0rc1  
PyQt5
pyttsx3
nltk
torch
speedtest-cli
moviepy
beautifulsoup4
pywhatkit
google-generativeai
phonenumbers
opencage
tensorflow
pytest>=7.0.0